<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/base_home.css">
    <link rel="stylesheet" href="/static/tours.css">
    <link rel="stylesheet" href="/static/cart.css">
    <link rel="stylesheet" href="/static/detail.css">
    <link rel="stylesheet" href="/static/about.css">

    <title>Chưa nghĩ ra</title>
</head>
<body>
<header class="navbar">
    <div class="nav-left">
        <img src="/images/logo.png">
       <h2>LOGO</h2>
    </div>

    <div class="menu-toggle" id="menu-toggle">☰</div>

    <ul class="nav-center" id="nav-menu">
        <li><a href="/templates/home.html" class="nav-a">Home</a></li>
        <li><a href="/templates/tours.html" class="nav-a">Menu</a></li>
        <li><a href="/templates/cart.html" class="nav-a">Cart</a></li>
        <li><a href="/templates/about.html" class="nav-a">About us</a></li>
    </ul>

    <div class="nav-right">
            <a href="#" class="nav-a">Log in/Sign up</a>
    </div>
</header>

<main>
    <!-- BẮT ĐẦU LÀM Ở ĐÂY NHA -->
</main>

<footer>
    <div class="footer-container">
        <div class="footer-content">
            <div class="contact-info">
                <h5>Địa chỉ liên hệ</h5>
                <p>Phòng 610, Tòa A2, Đại học Kinh tế Quốc dân</p>
                <p>Điện thoại: 0123456789</p>
                <p>Email: 12333@gmail.com</p>
            </div>

            <div class="qr-code">
                <img src="https://i.pinimg.com/736x/f3/ee/ef/f3eeef66748213d7fbf242b73f3a192d.jpg" alt="QR Code">
            </div>
        </div>

        <hr>
        <p class="copyright">Bản quyền thuộc về Tui</p>
    </div>
</footer>
</body>
</html>