<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/base_home1.css">
    <title>Document</title>
</head>
<body>
    <header class="navbar">
        <div class="nav-left">
            <img class="logo" src="/images/logo.png">
            <h2>LOGO</h2>
        </div>
        
        <ul class="nav-center">
            <li><a href="/templates/home.html" class="nav-a">Home</a></li>
            <li><a href="/templates/tours.html" class="nav-a">Tours</a></li>
            <li><a href="/templates/cart.html" class="nav-a">Cart</a></li>
            <li><a href="/templates/about.html" class="nav-a">About Us</a></li>
        </ul>

        <div class="nav-right">
            <a href="#" class="nav-a">Login/ Sign up</a>
        </div>
    </header>
    <main class="main_base">

    </main>
    
</body>
</html>