<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>ViVu Việt</title>
</head>
<body>
    <header class="navbar">
        <div class="nav-left">
            <img class="logo" src="/images/logo.png">
            <h2>ViVu Việt</h2>
        </div>
        
        <ul class="nav-center">
            <li><a href="/templates/home.html" class="nav-a">Home</a></li>
            <li><a href="/templates/tours.html" class="nav-a">Tours</a></li>
            <li><a href="/templates/cart.html" class="nav-a">Cart</a></li>
            <li><a href="/templates/about.html" class="nav-a">About Us</a></li>
            <li><a href="#" class="nav-a">Login</a></li>
        </ul>
    </header>
 <main class="container">
    <section style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/images/anh1.jpg');">
        <h1>Khám phá Việt Nam</h1>
    </section>

    <section style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/images/anh2.jpg');">
        <h1>Trải nghiệm văn hóa</h1>
    </section>

    <section style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/images/anh3.jpg');">
        <h1>Trải nghiệm văn hóa</h1>
    </section>

    <section style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/images/anh4.jpg');">
        <h1>Trải nghiệm văn hóa</h1>
    </section>
    
</main>

    <footer>
        <div class="footer">
            <div class="footer_1">
                <img class="logo" src="/images/logo.png">
                <h3>ViVu Việt</h3> 
                <div class="social-links">
                    <a href="#" class="social-items"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="social-items"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" class="social-items"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#" class="social-items"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>


            <div class="contact">
                <h3>CONTACT</h3>
                <p>Địa chỉ: P613, tòa A2, Đại học Kinh tế Quốc dân.</p>
                <p>Hotline: 0123456789</p>
                <p>Email: abcd1234@gmail.com</p>
            </div>

            <div class="footer_3">
                <p>© Bản quyền thuộc về Nhóm 5</p>
                <p>Có thắc mắc? Đừng liên hệ!</p>
            </div>
    

        </div>
    </footer>
    
</body>
</html>